<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicismylife.domain.emotion.EmotionMapper">  
  <!-- 감정조회 -->
  <select id="getEmotion"  
          resultType = "com.musicismylife.domain.emotion.EmotionDTO" >
  </select>
  

  <!-- 감정 바꾸기 -->
  <update  id="updateEmotion">
  
  </update>
  
</mapper>




