<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.musicismylife.domain.member.MemberRepository">

    <!-- 회원 가입 -->
    <insert id="insertMember" parameterType="com.musicismylife.domain.member.Member">
        INSERT INTO member_table (id, password, nickname, email, created_at)
        VALUES (#{id}, #{password}, #{nickname}, #{email}, sysdate)
    </insert>

    <!-- 회원 상세 조회 -->
    <select id="selectMemberById" parameterType="String" resultType="com.musicismylife.domain.member.Member">
        SELECT id, password, nickname, email, created_at
        FROM member_table
        WHERE id = #{id}
    </select>

    <!-- 회원 정보 수정 -->
    <update id="updateMember" parameterType="com.musicismylife.domain.member.Member">
        UPDATE member_table
        SET password = #{password}, nickname = #{nickname}, email = #{email}
        WHERE id = #{id}
    </update>

    <!-- 회원 삭제 -->
    <delete id="deleteMember" parameterType="String">
        DELETE FROM member_table WHERE id = #{id}
    </delete>

</mapper>